<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ieng.authority.dao.ElementMapper">
	
	<select id="getElementByPid" parameterType="int" resultType="element">
		select * from element where id in(select eid from `role_element` where rid = #{0})
	</select>
	
</mapper>